# ===== 编译输出（不需要上传） =====
bin/
obj/
.vs/

# ===== 第三方 DLL（固高库，禁止上传） =====
*.dll

# ===== 固高接口声明文件（不上传源码） =====
gts.cs

# ===== Visual Studio 用户配置 =====
*.user
*.suo
*.pidb
*.psess
*.vsp
*.vspx
*.sln.docstates

# ===== 运行时日志（如果有） =====
Logs/